img{
  filter: opacity(50%);
}
body {
    height: 900px;
    background-image: url("../imgs/ivan_arduino.jpg");
    background-color: black;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center - 50;
    background-size: 25%;
  }
form{
    padding-top: 25%;
    justify-content:center;
    display: flex;
    color:lime;
    border:1px  #000000;
    font-family: "Comic Sans MS", "Comic Sans";
  }
input{
    font-family: "Comic Sans MS", "Comic Sans";
    color:lime;
    border:1px solid lime;
    background-color: #000000;
}
select{
    font-family: "Comic Sans MS", "Comic Sans";
    color:lime;
    border:1px solid lime;
    background-color: #000000;
}
table{
  background-color: #000000;
  filter: drop-shadow(gold);

}
p{
  font-family: "Comic Sans MS", "Comic Sans";
  color:lime;
  background-color: #000000;
}
a{
  font-family: "Comic Sans MS", "Comic Sans";
  color:rgb(0, 145, 255);
  background-color: #000000;
}
